body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff;
  scroll-behavior: smooth;
}
.menu-section {
  padding: 40px 20px;
  background-color: #fff8f5;
}

.menu-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: #ff3f6c;
  animation: fadeInDown 1s ease forwards;
}

.menu-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.menu-row::-webkit-scrollbar {
  height: 8px;
}

.menu-row::-webkit-scrollbar-thumb {
  background: #ff3f6c;
  border-radius: 4px;
}

.menu-row::-webkit-scrollbar-thumb:hover {
  background: #e72f5b;
}

/* Animation */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
